
html{
    background-color: lightblue;
}
header{
    margin-bottom: 0em;
    background-color: rgb(0, 153, 255);
}
h1{
    display: flex;
    justify-content: center;
    font-family: 'Akronim', cursive;
    font-size: 4em;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
a{
    text-decoration: none; /* supprime le soulignement */
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2em;
    margin-bottom: 1em;
}
a:focus /* Quand le visiteur sélectionne le lien */
{
    background-color: #FFCC66;
}
table{
    font-family: 'Palanquin', sans-serif;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    padding:10px;
    width: 10em;
    height: 6em;
}

 body{ 
     margin: 0;
     padding: 0;
    /* margin: auto; */
 }
#main {
    
    /* height: 100%; */
    background-color: lightblue;
    /* background-repeat: no-repeat;
    background-image: url(photo/Agendas.jpg) ;
    background-size: cover; */
}
#reservation{
    display: flex;
    justify-content: center;
}
#mainreservation{
    font-size: 31px;
}
#table{
    display: flex;
    justify-content: center;
}
#urgent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#travail{
    font-size: 21px;
    color: red;
}
.urgenttravail{
    background-color: red;
}
#famille{
    font-size: 21px;
    color: yellow;
}
#urgentfamille{
    background-color: yellow;
}
#normal{
    font-size: 21px;
    color: green;
}
.normal{
    background-color: green;
}
footer{
    background-color: rgb(0, 153, 255);
}
nav{
    display: flex;
    justify-content: space-evenly;
}
.none{
    font-size: 31px;
    list-style-type: none;
}
.logo{
    width: 1em;
    height: 1em;
}
.partenaire{
    font-size: 21px;
}
#footertitre{
    font-size: 31px;
}
.footerli{
    font-size: 21px;
}
.fo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-bottom: 1em;  */
    /* padding-top: 2em; */
    padding-bottom: 2em;
    font-weight: bolder;
    font-size: 4vh;
    font-weight: bolder;
    /* color: rgb(197, 179, 245); */
}
.for1{
    display: flex;
    justify-content: center;
    font-size: 31px;
    padding: 3em;
    font-family: 'Vampiro One', cursive;
    /* color: rgb(197, 179, 245); */
}
#env{
    font-size: 31px;
    /* width: 10em;
    height: 4em; */
}

